 body {
     background-color: rgb(238, 235, 241);
     font-family: serif;
 }

 #color1 {
     width: 70px;
     height: 70px;
     border: 1px solid black;
 }

 #color2 {
     width: 70px;
     height: 70px;
     border: 1px solid rgb(0, 0, 0);
 }

 label {
     color: rgb(79, 18, 136);
     font-size: 26px;
     text-align: center;
 }

 input {
     border-radius: 26px;
 }


 table {
     border: 1px solid rgb(79, 18, 136);
     border-collapse: collapse;
     font-family: serif;
     padding: 20px;

 }

 th {
     border: 1px solid black;
     padding: 8px;
     border-radius: 40px;
 }

 h1 {
     color: rgb(79, 18, 136);
     font-family: serif;
     font-size: 40px;
     text-align: center;
 }
 div{
     text-align: center;
 }